h1 {background-color: aquamarine;}
h1{font-size: 64px;}
body{background-color: rgb(98, 149, 220);}
h1 :hover{color: blueviolet;}
P{background-color: aquamarine;}
P{font-size: 32px;}
h2{font-size: 32px;font-style: obliqueí;}
h4{ font-weight:bold;}